/*reset css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body{
    background-color:#fff;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color:#B4D0E7 ;
}

.color-blue{
    color:#0061FF;
}

.flex{
    display: flex;
}

.reverse{
    flex-direction: row-reverse;
}

footer{
    width: 100%;
    min-height: 500px;
    background-color: #000; 
    border: 2px dashed #fff;
}

.container-big{
    max-width: 1200px;
    border: 2px dashed #000;
    margin:0 auto;
    width: 1400px;
    min-height: 500px 
    /* background-color: #ff0000; */
}

.container-small{
    max-width: 1000px;
    border: 2px dashed #000;
    margin:0 auto;
    width: 1200px;
    min-height: 500px 
    
}

a{
    text-decoration: none;
    cursor: pointer;
}

.button{
    background-color:#0061FF ;
    color:#fff;
    padding: 8px 16px;
    display: inline-block;
   
}

h1{
     font-size: 85px;
}

h2{
    font-size: 40px;
    margin: 150px 0 55px 0;
}

h3{
    font-size: 30px;
    margin-bottom: 30px;
    
}

h4{
    margin-bottom: 50px;
    margin-top: 20px;
}

img{
    max-width: 100%;
 }

 .pad-20{
    padding:60px;
 }

/* header */

nav{
    background-color: #fff;
    width: 100%;
    height: 80px;
    /* border: 2px dashed #000; */
    position:fixed;
    top:0;
    right: 0;
    z-index: 1;
    align-items: center;
}



.jumbotron{
    margin-top:180px;
    width: 100%;
    /* border: 2px dashed #ff0000; */
    
}



.nav-column{
    width: 50%;
    /* border: 2px solid red; */
    min-height: 50px;
    align-items: center;
    gap: 20px;
}

.c-start{
    justify-content:flex-start;
}

.c-end{
    justify-content:flex-end;
}

.list-end{
    justify-content: flex-end;
}

li{
    display: flex;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

/* Jumbotron */


.jumbo-col-big{
width:70%;
min-height: 30px;
/* border: 2px solid #ff0000; */
position: relative;
left:0;
bottom:-80px
}

.jumbo-col-small{
width:30%;
min-height: 50px;
/* border: 2px solid #ff0000; */
position: relative;
left:0;
bottom:-80px
}

.jumbo-par{
    margin-bottom: 40px;
}



.jumbo-button{
    margin-bottom: 40px ;
}

.jumbo-card{
    max-width: 100%;
    position: relative;
    
}

.jumbo-img{
    position: relative;
    top:0px;
    right:-23px;
    
}

/* main */

.square-partner{
    width: 100%;
    min-height: 500px ;
    border: 2px dashed #ff0000
}


.fake-checkbox{
    border: 2px solid #D5D5D7;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
   
}

.check-box{
    margin-bottom: 40px;
}

.border-blu{
    width: 10px;
    height: 10px; 
    border: 5px  solid #0061FF;
    box-sizing: content-box;
    
}

.pay-type{
    margin-right:20px;
   
}

/* plan */

.type-plan-row{
    justify-content: flex-start;
    gap:20px;
}

.type-plan-col{
    width: calc(100% / 3 );
    border: 2px dashed #000;
    min-width:50px;
    min-height:100px;
    border:2px solid #dedede;   
    
}

.plan-button{
    margin-top:40px
}

.plan-title{
    text-align:center;
    padding: 10px;
    border-bottom:2px solid #dedede;
    margin-bottom: 30px;
    width:100%;
}


.container-col{
    max-width: 70%;
    min-height:800px ;
    margin:0 auto;
}

.price{
    line-height: 55px;
}

.specific-price{
    color: #8B8B8B;
    display: block;
    margin-bottom: 30px;
}

.details-plan-row{
    gap: 10px;
}

.details-plan-row > *{
   margin-bottom:20px;
}

.link-decorated{
    text-decoration: underline;
    color: #0061FF;
    margin-top: 80px;
    display: inline-block;
}

hr{
    width: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
 }

 .type-plan-row-large{
    width: 100%;
    /* min-height: 100px; */
    border: 1px solid #8B8B8B;
    margin-top: 50px;
    margin-bottom: 100px;
    
}

.type-plan-col-70{
    width: 70%;
    /* border: 2px dashed #f00; */
    min-height: 100px;
    padding:20px;
}
.type-plan-col-30{
    padding-top: 14px;
    text-align: center;
    width: 30%;
    /* border: 2px dashed #f00; */
    min-height: 100px;
    padding:20px;
 }

 /* partner */

.partner-row{
    width: 100%;
    min-height: 50px;
    justify-content: space-between;
    /* border:2px solid #ff0000; */
    margin-bottom: 100px;
}
.partner-col-small{
    width:40%;
    min-height: 50px;
    /* border:2px dashed #ff0000; */
    margin-top:40px;
    padding:40px
}

.partner-col-big{
    width:60%;
    height: 510px;
    /* border:2px dashed #ff0000; */
}


 a.alternative-button{
    margin-top: 40px;
    background-color:#fff ;
    color: #8B8B8B;
    font-weight:bold ;
    border: 2px solid #8B8B8B;
    display: inline-block;
 }

 /* Business */

 .business-col{
    width:calc(100% / 3);
    min-height:100px;
    border: 2px dashed purple;
    justify-content: center;
    margin-bottom: 40px;
    
 }

 .business-row{
    gap:20px
 }

 /* team */

 .team-col{
    width:60%;
    min-height:200px;
 }

 
/* square */

.square-col{
    width: calc(100% / 3);
    min-height:600px;
    border: 2px dashed blue;
    flex-wrap:wrap;
}

.square-layout{
    width: 50%;
    height:50%;
    border:2px dashed blueviolet;
    display: inline-block;
}

#designit{
    background-image: url(../img/designit.png);
    background-color: #A2D39B ;
    background-size:50%;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    
}

/* try-for-free */
.try-for-free-row{
    background-color:#B4D0E7 ;
    
    gap:40px
}

.try-for-free-col{
    width: 50%;
    min-height: 200px;
    border:2px dashed blueviolet;
    justify-content: flex-end;
    align-items:center;
    position:relative
}

/* domande frequenti */
.domande-frequenti{
    width: 100%;
    min-height:800px;

}

.hr-large{
    width: 100%;
}

.dom-freq-row{
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
    font-weight: bold;
} 

.open-down{
    margin-right: 50px;
}