/*reset css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body{
    background-color:#fff;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color:#B4D0E7 ;
}



footer{
    width: 100%;
    min-height: 500px;
    background-color: #000; 
    border: 2px dashed #fff;
}

.container-big{
    max-width: 1200px;
    border: 2px dashed #000;
    margin:0 auto;
    width: 1400px;
    min-height: 500px 
    /* background-color: #ff0000; */
}

.container-small{
    max-width: 1000px;
    border: 2px dashed #000;
    margin:0 auto;
    width: 1200px;
    min-height: 500px 
    
}

a{
    text-decoration: none;
    cursor: pointer;
}

.button{
    background-color:#0061FF ;
    color:#fff;
    padding: 8px 16px;
    margin-bottom: 40px;
}

/* header */

nav{
    background-color: #fff;
    width: 100%;
    height: 80px;
    /* border: 2px dashed #000; */
    position:fixed;
    z-index: 1;
}

.jumbotron{
    margin-top:180px;
    width: 100%;
    /* border: 2px dashed #ff0000; */
    
}

.nav-row{
    display: flex;
    

}

.nav-column{
    width: 50%;
    /* border: 2px solid red; */
    min-height: 50px;
    display: flex;
    
    align-items: center;
    gap: 20px;
}

.c-start{

    justify-content:flex-start;
}

.c-end{
    justify-content:flex-end;
}

.list-end{
    display: flex;
    justify-content: flex-end;
}

li{
    display: flex;;
    display: inline-block;
 
    vertical-align: middle;
    padding: 10px;
}

/* Jumbotron */

h1{
     font-size: 85px;
     margin-bottom: 50px;
}

.jumbo-row{
    display: flex;
}

.jumbo-col-big{
width:70%;
min-height: 50px;
/* border: 2px solid #ff0000; */
}

.jumbo-col-small{
width:30%;
min-height: 50px;
/* border: 2px solid #ff0000; */
margin-bottom: 20px;
}

.jumbo-par{
    margin-bottom: 40px;
}

.jumbo-button{
    display: inline-block;
}

.jumbo-card{
    max-width: 100%;
    position: relative;
}

.jumbo-img{
    max-width: 100%;
    position: absolute;
    top:-3px;
    right:-25px;
    
}

/* main */

.square-partner{
    width: 100%;
    min-height: 500px ;
    border: 2px dashed #ff0000
}

h2{
    font-size: 40px;
    margin: 150px 0 55px 0;
}

.fake-checkbox{
    border: 2px solid #D5D5D7;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
   
}

.check-box{
    margin-bottom: 40px;
}

.border-blu{
    width: 10px;
    height: 10px; 
    border: 5px  solid #0061FF;
    box-sizing: content-box;
    
}

.pay-type{
    margin-right:20px;
   
}

.type-plan-row{
    display: flex;
    justify-content: space-between;
    gap:20px
}

.type-plan-col{
    width: calc(100% / 3);
    border: 2px dashed #000;
    min-width:50px;
    min-height:100px;
    border:2px solid #dedede;
    padding: 0 10px;
    
}

.plan-title{
    text-align:center;
    padding: 10px;
    border-bottom:2px solid #dedede;
    margin-bottom: 40px
}

.specific-plan{

}